.form-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6em;
}

.form-filter input,
.form-filter button {
    font-size: 1rem;
}

.form-filter .filter-input {
    width: max-content;
    width: 32ch;

    padding: .7rem 1.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--c-black);
    background-color: var(--c-light-gray);
    border-radius: 60px;
}

.form-filter .filter-input input {
    text-overflow: ellipsis;
    width: 100%;
    font-size: .9rem;
}

.form-filter .filter-input > button[type=submit] {
    color: var(--c-dark-gray);
}

.form-filter .filter-settings > button[type=button] {
    width: 2.8rem;
    height: 2.8rem;

    display: grid;
    place-items: center;
    
    color: var(--c-dark-gray);
    background-color: var(--c-light-gray);
    border-radius: 50%;
}