.form-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form-filter .filter-input {
    width: max-content;
    min-width: 25ch;

    padding: .5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--c-gray);
    background-color: #d9e1e2;
    border-radius: 60px;
}

.form-filter .filter-input > button[type=submit] {
    color: var(--c-gray);
}

.form-filter .filter-settings > button[type=button] {
    width: 2rem;
    height: 2rem;

    display: grid;
    place-items: center;
    
    color: var(--c-gray);
    background-color: #d9e1e2;
    border-radius: 1rem;
}