header {
    --nav-offset: 6rem;

    padding: 1rem 2rem;

    height: var(--nav-offset);

    display: flex;
    align-items: baseline;

    color: var(--c-white);
    background-color: var(--c-blue);
    border-radius: 0 0 60px 60px;
}

header>img.logo {
    width: 2rem;
    display: block;
    height: auto;
}

header>h1 {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
}

header>.toggler-nav {
    width: 2.5rem;
    height: auto;
    cursor: pointer;
    transition: opacity .1s linear;
}

header>.toggler-nav:hover {
    opacity: .5;
}

header>nav button {
    text-align: center;
    color: #747a7b;
    font-weight: bold;
    font-family: inherit;
    font-size: large;

    border: 3px solid #747a7b;

    background-color: #d9e1e2;


    padding: 15px 20px;
}