:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    letter-spacing: .05em;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--c-black);
    background-color: var(--c-white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: no-preference) {

}
