header>nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;

    width: max-content;
    height: 100svh;

    padding-top: var(--nav-offset);

    color: var(--c-gray);
    background-color: var(--c-white);

    transition: transform .1s linear;
}

header>nav[aria-hidden=true] {
    transform: translateX(100%);
}

header>nav button {
    text-align: center;
    color: #747a7b;
    font-weight: bold;
    font-family: inherit;
    font-size: large;

    border: 3px solid #747a7b;

    background-color: #d9e1e2;


    padding: 15px 20px;
}