nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;

    width: max-content;
    height: 100svh;

    padding: 1.5rem;
    padding-top: calc(var(--nav-offset) + 2.5rem);

    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    color: var(--c-gray);
    background-color: var(--c-white);

    box-shadow: -4px 0 4px rgba(0, 0, 0, .25);

    transition: transform .1s linear;
}

nav[aria-hidden=true] {
    transform: translateX(100%);
    box-shadow: none;
}

nav button {
    text-align: center;
    color: #747a7b;
    font-weight: bold;
    font-family: inherit;
    font-size: large;

    width: 25ch;

    border-radius: 60px;
    background-color: #d9e1e2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);

    padding: 15px 20px;
}

nav footer{
    color: #06507f;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    
    font-size: small;
    gap: 0.5rem;
    
}
