* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

button, 
input, 
textarea {
    padding: 0;
    border: none;
    outline: none;
    color: currentColor;
    font-family: inherit;
    background-color: transparent;
    font-family: inherit;
}

button {
    cursor: pointer;
}
